$base-bg-color: #545454;
$header-bg-color: #474747;
$footer-bg-color: #474747;
$title-bg-color: #A5A5A5;
$card-bg-color: #C3C3C3;
$input-bg-color: #fff;
$button-bg-color: #519945;
$text-color: #353535;
$description-color: #5F5F5F;
$button-color: #fff;

$header-height: 60px;
$footer-height: 270px;